@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";

    Page.title = "Llista Persones";

    var db = Database.Open("CotxesPersona2015");
    var sqlselect = "SELECT * FROM personas";

    var personas = db.Query(sqlselect);
}

<h1 class='titulSeccio'>Llista Persones</h1>
@if(personas.Count() == 0){
    <p>
        No se han encontrado ha nadie con estos datos
    </p>
} else {
    <ul>
        @foreach(var p in personas){
            <li>
                <p>
                    <a class="llistaPersones"href="~/personaDetalles/@p.id">@p.nom | @p.dni</a> 
                </p>
            </li>
        }
    </ul>  
}


